


#FIXPROMO #cat_hl_87872 {padding-bottom:10px;.padding-bottom:0px}
#cat_hl_87872 {width:300px;margin-top:-10px;.margin-top:0px;padding-top:15px;width:289px;padding-left:10px}
#cat_hl_87872 .even .text {padding-bottom:20px;}
#cat_hl_87872 img {float:right;width:136px;border-bottom:4px solid #FF2E59;padding-top:6px;margin-right:15px;margin-left:10px;}
#cat_hl_87872 a:hover img {border-bottom:4px solid #393939;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);-moz-opacity: 0.8;opacity: 0.8}
#cat_hl_87872 a {text-decoration:none;color:#616161;}
#cat_hl_87872 a:visited {color:#616161;}
#cat_hl_87872 a:hover {color:#FFF;background-color:#393939}
#cat_hl_87872 {color:#616161;font-size:12px;
font-family:Arial;font-size-adjust:none;font-style:normal;font-variant:normal;line-height:normal;background-color:white;}
div#cat_hl_87872 {_padding-bottom:0px}
#cat_hl_87872 .title {font-size:12px;margin-top:10px;padding-left:5px;font-weight:bold;color:#616161;width:130px;}
#cat_hl_87872 .headerimage {margin-bottom:10px;margin-top:-7px;}
#cat_hl_87872 .headertitle {margin:1px 0px;color:#ccc;font-size:11px;padding-left:5px;}
#cat_hl_87872 .text {margin-left:5px;display:block;margin-bottom:21px;}
#cat_hl_87872 .colspacing {border-top:1px solid #D7D7D7;display:block;margin:24px 15px 15px;}
#cat_hl_87872 .even img {margin-top:-7px;}
#cat_hl_87872 .even .title {margin-top:-7px;padding-left:5px;width:130px;}
#cat_hl_87872 .even .text {padding-top:9px}
#cat_hl_87872 .odd .text {padding-top:10px;}
#cat_hl_85898 img {float:right;width:136px;border-bottom:4px solid #FF2E59;padding-top:6px;margin-right:15px;margin-left:10px;}
#cat_hl_85898 a:hover img {border-bottom:4px solid #393939;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);-moz-opacity: 0.8;opacity: 0.8}
#cat_hl_85898 a {text-decoration:none;color:#616161;}
#cat_hl_85898 a:visited {color:#616161;}
#cat_hl_85898 a:hover {color:#FFF;background-color:#393939}
#cat_hl_85898 {color:#616161;font-size:12px;
font-family:Arial;font-size-adjust:none;font-style:normal;font-variant:normal;line-height:normal;background-color:white;}
div#cat_hl_85898 {_padding-bottom:0px}
#cat_hl_85898 .title {font-size:12px;margin-top:10px;padding-left:5px;font-weight:bold;color:#616161;width:130px;}
#cat_hl_85898 .headerimage {margin-bottom:10px;margin-top:-7px;}
#cat_hl_85898 .headertitle {margin:1px 0px;color:#ccc;font-size:11px;padding-left:5px;}
#cat_hl_85898 .text {margin-left:5px;display:block;margin-bottom:21px;}
#cat_hl_85898 .colspacing {border-top:1px solid #D7D7D7;display:block;margin:24px 15px 15px;}
#cat_hl_85898 .even img {margin-top:-7px;}
#cat_hl_85898 .even .title {margin-top:-7px;padding-left:5px;width:130px;}
#cat_hl_85898 .even .text {padding-top:9px}
#cat_hl_85898 .odd .text {padding-top:10px;}


